.transactionHistory {
  border: 1px solid black;
  width: 700px;
}

th {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
}

.tbody .tr:nth-child(2n) {
  background-color: #bebebe;
}

.thead {
  background-color: #ffffff;
}
.thead {
  background-color: #69baee;
}
td {
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #656464;
}
.tr {
  background-color: #ffffff;
}
.tr:nth-child(2n) {
  background-color: #ffffff;
}
